<h2>Lista de postagens</h2>
<hr>
<a href="/admin/posts/add"><button class="btn btn-success">Nova postagem</button></a>


{{#each posts}}
    <div class="card mt-4">
        <div class="card-body" >
            <h4>{{titulo}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Categoria: {{categoria.nome}}</small>
            <hr>
            <strong>{{descricao}}</strong>
            <p class="mt-4">{{conteudo}}</p>
            <!--<small>{{data}}</small>-->
            <div class="row">
                <a href="/admin/posts/edit/{{_id}}"><button class="btn btn-success mt-3">Editar</button></a>
                <form action="/admin/posts/delete" method="POST" class="col-2">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-danger mt-3">Deletar</button>
                </form>
            </div>
        </div>
    </div>
{{/each}}